body {
    margin: 0;
}

.header {
    text-align: center;
    font-size: 4em;
    line-height: 1;
    color: black;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: thin;
    margin: 0.75em;
    padding: 0.1em;
}

.status {
    text-align: center;
    font-size: 3em;
    line-height: 1;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: thin;
    padding: 0.25em;
    margin-top: 0.3em;
}

ol, ul {
padding: 0;
text-align: center;
list-style: none;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* padding: 20vh; */
    background-image: url('./images/cityBackground.jpg');
    /* background-repeat: repeat-x; */
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board{
    border-color: white;
    border-style: solid;
    border-width: thick;
}
